TrainConfig(
    version: 3,
    total_timesteps: 128000000,
    env: (
        id: "BevySnake",
        kwargs: "{\"min_action_delay\": 2, \"max_action_delay\": 2}",
    ),
    net: (
        relpos_encoding: (
            extent: [10, 10],
            position_features: ["x", "y"],
            value_gate: "relu",
            per_entity_values: false,
        ),
    ),
    rollout: (
        num_envs: 256,
    ),
    optim: (
        bs: 4096,
    ),
    eval: (
        interval: 1000000,
        num_envs: 512,
        steps: 200,
        opponent: "eval-opponents/220729-160238-2snake-128m-ad2-32447984ae7847018b3ba86dc25aa0db",
        env: (
            id: "BevySnake",
            kwargs: "{\"min_action_delay\": 2, \"max_action_delay\": 2}",
        )
    ),
)
